rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /teams/{teamId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.creatorId;
    }
    match /tournaments/{tournamentId} {
      allow create: if request.auth != null;
      allow read: if true;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.creatorId;
    }
  }
}
